body {
    background-color: #f3f3f3;
}

.align-input {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: 10rem
}

.align-input h1 {
    margin-inline: 1rem;
    font-size: 1.8rem;
}

.second-input {
    display: flex;
    flex-direction: row-reverse;
}

.select-moeda {
    margin-inline: 1.5rem;
    background-color: #f3f3f3;
    width: 17rem;
    height: 3rem;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid gray;
}

.select-moeda:focus {
    outline: none;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

#input-edit {
    width: 16rem;
    height: 4rem;
    font-size: 1.2rem;
    padding: 1rem;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    /* sombra */
    -webkit-box-shadow: 5px 5px 0px #007b80;
    -moz-box-shadow: 5px 5px 0px #007b80;
    box-shadow: 5px 5px 0px #007b80;
    transition: all 0.3s;
}

#input-edit:hover {
    width: 20rem;
    -webkit-box-shadow: 0px 0px 0px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 0px 0px 0px rgba(50, 50, 50, 0.77);
    box-shadow: 0px 0px 0px rgba(50, 50, 50, 0.77);
}

#input-edit:focus {
    border: none;
    outline: none;
}

.align-icon-with-input{
    display: flex;
    align-items: center;
}

#icon-trash{
    
    width: 2rem;
    height: 2rem;
}

.align-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-button input {
    width: 10rem;
    height: 4rem;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    margin-inline: 0.5rem;
    /* sombra */
    -webkit-box-shadow: 5px 5px 0px #CECECE;
    -moz-box-shadow: 5px 5px 0px #CECECE;
    box-shadow: 5px 5px 0px #CECECE;
    transition: all 0.3s;
}

.align-button input:hover {
    -webkit-box-shadow: 0px 0px 0px #CECECE;
    -moz-box-shadow: 0px 0px 0px #CECECE;
    box-shadow: 0px 0px 0px #CECECE;
}

.align-button input:focus {
    border: none;
    outline: none;
}

.title-date {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}

.title-date h1 {
    background-color: #272635;;
    padding: 1rem;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 3px 2px 5px #000;
    box-shadow: 5px 4px #808080;
    transition: all 1s;
}

.title-date h1:hover {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

.align-mobile {
    display: none;
}

@media(max-width: 750px) {
    .align-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .align-web {
        display: none;
    }
    .align-input {
        display: flex;
        flex-direction: column;
        padding-top: 12rem;
    }
    .first-input {
        display: flex;
        align-items: center;
    }
    .second-input {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding-top: 3rem;
    }
    .align-button {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .title-date{
        padding-top: 0rem;
        padding-bottom: 1rem;
    }

    .title-date h1 {
        font-size: 1rem;
        color: #fff;
    }
}

@media(max-width: 625px) {
    #input-edit {
        width: 10rem;
        height: 4rem;
        font-size: 1rem;
    }
    #input-edit:hover {
        width: 14rem;
    }
    .select-moeda {
        width: 14rem;
        height: 3rem;
        font-size: 1rem;
    }
    .align-button input {
        width: 8rem;
        height: 4rem;
        font-size: 1rem;
    }
}

@media(max-width: 515px) {
    #input-edit:hover {
        width: 11rem;
    }
}

@media(max-width: 465px) {
    #input-edit {
        width: 8rem;
        height: 4rem;
        font-size: 0.8rem;
    }
    #input-edit:hover {
        width: 10rem;
    }
    .select-moeda {
        width: 10rem;
        height: 3rem;
        font-size: 0.8rem;
    }
    .align-button input {
        width: 22rem;
        height: 4rem;
        font-size: 0.8rem;
    }
    .title-date{
        padding-bottom: 1rem;
    }

    .title-date h1 {
        font-size: 0.8rem;
        color: #fff;
    }
}

@media(max-width: 370px) {
    #input-edit {
        width: 8rem;
        height: 4rem;
        font-size: 0.8rem;
    }
    #input-edit:hover {
        width: 9rem;
    }
    .select-moeda {
        width: 8rem;
        height: 3rem;
        font-size: 0.8rem;
    }
    .align-button input {
        width: 20rem;
        height: 4rem;
        font-size: 0.8rem;
    }
    .title-date{
        padding-bottom: 1rem;
    }

    .title-date h1 {
        font-size: 0.8rem;
        color: #fff;
        padding: 0.5rem;
    }
}

@media(max-width: 357px) {
    #input-edit {
        width: 8rem;
        height: 4rem;
        font-size: 0.8rem;
    }
    #input-edit:hover {
        width: 10rem;
    }
    .select-moeda {
        width: 6rem;
        height: 3rem;
        font-size: 0.8rem;
        transition: all 0.5s;
    }
    .select-moeda:hover {
        width: 9rem;
    }
    .align-button input {
        width: 18rem;
        height: 4rem;
        font-size: 0.8rem;
    }
}

@media(max-width: 340px) {
    #input-edit {
        width: 14rem;
        height: 4rem;
        font-size: 0.8rem;
    }
    #input-edit:hover {
        width: 16rem;
    }
    .select-moeda {
        width: 12rem;
        height: 3rem;
        font-size: 0.8rem;
        transition: all 0.5s;
    }
    .select-moeda:hover {
        width: 12rem;
    }
    .align-input {
        padding-top: 16rem;
    }
    .align-button input {
        width: 14rem;
        height: 4rem;
        font-size: 0.8rem;
    }
    .first-input {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .second-input {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 3rem;
    }
    .title-date{
        padding-bottom: 1rem;
    }

    .title-date h1 {
        font-size: 0.6rem;
        color: #fff;
        padding: 0.4rem;
    }
}